@media screen and (max-height: 1000px) {
    .message-area{
        height: 820px !important;
    }
  }



@media screen and (max-height: 800px) {
    
    .message-area{
        
        height: 650px !important;
    }
  }

  @media screen and (max-height: 750px) {
    
    .message-area{
        
        height: 600px !important;
    }
  }

  @media screen and (max-height: 700px) {
    
    .message-area{
        
        height: 550px !important;
    }
  }

  @media screen and (max-height: 650px) {
    
    .message-area{
        
        height: 500px !important;
    }
  }

  @media screen and (max-height: 600px) {
    
    .message-area{
        
        height: 450px !important;
    }
  }

  @media screen and (max-height: 550px) {
    
    .message-area{
        
        height: 400px !important;
    }
  }

  @media screen and (max-height: 500px) {
    
    .message-area{
        
        height: 350px !important;
    }
  }

  @media screen and (max-height: 450px) {
    
    .message-area{
        
        height: 340px !important;
    }
  }

  @media screen and (max-height: 400px) {
    
    .message-area{
        
        height: 280px !important;
    }
  }